blib/
.build/
_build/
Build
Build.bat
!Build/
cover_db/
inc/
.last_cover_stats
.lwpcookies
Makefile
Makefile.old
MANIFEST.bak
META.*
META.yml
MYMETA.*
MYMETA.yml
nytprof.out
pm_to_blib
pod2htm*.tmp
GoogleIDToken-Validator-*
GoogleIDToken-Validator-*.tar.gz
